<h1>Thank you for providing a review</h1>


<form action="/thanks2" method="POST">
	Restaurnat Name:<br> 
	<input name="name" ><br><br>
	Address:<br> 
	<input name="address"><br><br>
	Catagory<br> 
	<input name="review" maxlenght="256">
	<button type="submit">Submit</button>
</form>